argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
attrs==25.3.0
captcha==0.7.1
certifi==2025.1.31
cffi==1.17.1
cryptography==44.0.2
Django==5.1.6
django-ranged-response==0.2.0
django-recaptcha==4.0.0
django-simple-captcha==0.6.2
h11==0.14.0
idna==3.10
iniconfig==2.1.0
outcome==1.3.0.post0
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
pycparser==2.22
PyMySQL==1.1.1
PySocks==1.7.1
pytest==8.3.5
pytest-django==4.11.1
selenium==4.30.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.3
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.1
urllib3==2.3.0
websocket-client==1.8.0
wsproto==1.2.0
